.vscode/
# Trash data
$RECYCLE.BIN/
.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate

# Log an tmp data
*~
*.sw[mnpcod]
*.log
*.tmp
*.tmp.*
log.txt

/build/
/dist/
/build/
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
# https://github.com/takari/maven-wrapper#usage-without-binary-jar
.mvn/wrapper/maven-wrapper.jar

### qoopoweb ###
qoopoweb/qoopoerp/qoopo/target/
qoopoweb/qoopoerp/qoopo-persistencia/target/
qoopoweb/qoopoerp/qoopo-negocio/target/
qoopoweb/qoopoerp/qoopo-payment-stripe/target/
sendmailAgente/nbproject/private/
qoopoweb/qoopoerp/qoopo-suscripciones/target/
qoopoweb/qoopoerp/qoopo-modular-base/target/
qoopoweb/qoopoerp/qoopo-encuestas/target/
qoopoweb/qoopoerp/qoopo-L10n-ec-plancontable/target/
qoopoweb/qoopoerp/qoopo-calendario/target/
qoopoweb/qoopoerp/qoopo-clientes/target/
qoopoweb/qoopoerp/qoopo-proveedores/target/
qoopoweb/qoopoerp/qoopo-facturacion/target/
qoopoweb/qoopoerp/qoopo-tpv/target/
qoopoweb/qoopoerp/qoopo-contabilidad/target/
qoopoweb/qoopoerp/qoopo-compras/target/
qoopoweb/qoopoerp/qoopo-ventas/target/
qoopoweb/qoopoerp/qoopo-inventory/target/
qoopoweb/qoopoerp/qoopo-proyectos/target/
qoopoweb/qoopoerp/qoopo-rh/target/
qoopoweb/qoopoerp/qoopo-suscripciones/target/
qoopoweb/qoopoerp/qoopo-modular-base/target/
qoopoweb/qoopoerp/qoopo-web/target/
qoopoweb/qoopoerp/qoopo-documentos/target/
qoopoweb/qoopoerp/qoopo-L10n-ec/target/
qoopoweb/qoopoerp/qoopo-L10n-en/target/
qoopoweb/qoopoerp/qoopo-core/target/
qoopoweb/qoopoerp/qoopo-informes/target/
qoopoweb/qoopoerp/qoopo-barcode/target/
qoopoweb/qoopoerp/qoopo-consultarplaca/target/
qoopoweb/qoopoerp/qoopo-L10n-ec-facturacionelectronica/target/
qoopoweb/qoopoerp/qoopo-web-core/target/
qoopoweb/qoopoerp/qoopo-mensajeria/target/
qoopoweb/qoopoerp/qoopo-persistencia-core/target/
qoopoweb/qoopoerp/qoopo-core-db/target/
qoopoweb/qoopoerp/qoopo-configuracion/target/
qoopoweb/qoopoerp/qoopo-core-web/target/
qoopoweb/qoopoerp/qoopo-paypal/target/
qoopoweb/qoopoerp/qoopoerp/qoopo-barcode/target/
qoopoweb/qoopoerp/qoopoerp/qoopo-informes/target/
qoopoweb/qoopoerp/qoopoerp/qoopo-test/target/
/qoopoweb/qoopoerp/qoopo-core-db/nbproject/
/qoopoapp/nbproject/private/
/qoopoerp/qoopo-l10n-ec/nbproject/
/qoopoerp/qoopo-l10n-ec-facturacionelectronica/nbproject/
/qoopoerp/qoopo-core-db/nbproject/
/qoopoerp/qoopo-exporter/nbproject/
/qoopoerp/qoopo-exporter/target/


# Trash data
$RECYCLE.BIN/
.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate

# Log an tmp data
*~
*.sw[mnpcod]
*.log
*.tmp
*.tmp.*
log.txt

# NPM (Node Package Manager) files
npm-debug.log*
node_modules/
tmp/
temp/

# Preprocessors cache files
.sourcemaps/
.sass-cache/
.tmp/
hooks/

# Ionic 3 plugins files
platforms/
plugins/
plugins/android.json
plugins/ios.json
www/
/qoopoerp/fixes/qoopo-l10n-ec/nbproject/
/qoopoerp/fixes/qoopo-fix-retencion-update/nbproject/
/qoopo-erp/fixes/qoopo-fix-recalculate-kardex/nbproject/
/qoopo-erp/addons/fixes/qoopo-fix-recalculate-kardex/nbproject/
/qoopo-erp/addons/fixes/qoopo-fix-retencion-update/nbproject/
/qoopo-erp/addons/qoopo-exporter/nbproject/
/qoopo-erp/addons/qoopo-l10n-ec-facturacionelectronica/nbproject/
/qoopo-erp/addons/qoopo-l10n-ec/nbproject/
